
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Live Room</title>
    <script>
      var localname = window.localStorage.getItem('name');
      if (localname !== null){
        window.location.replace('/room');
      }
    </script>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="container-fluid">
        <form class="form-signin">
          <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Masuk disini</h1>
          <label for="inputTel" class="sr-only">No. Telpon</label>
          <input type="text" id="inputTel" name="telephone" class="form-control" placeholder="Masukkan no telpon" required autofocus>
          <button style="margin-top: 30px;" class="btn btn-lg btn-success btn-block" type="submit">Masuk</button>
          <button class="btn btn-lg btn-primary btn-block" type="button" onclick="signup()">Daftar</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
      $('form').submit(function(e){
          e.preventDefault();
          $.ajax({
                type: "POST",
                url: "/login/auth",
                data: {
                    telephone : $('#inputTel').val()
                },
                success: function(data){
                    if (data.status == 'success'){
                        localStorage.setItem('name', data.name);
                        window.location.replace('/room');
                    }
                }
          })
      })
      function signup(){
        window.location.replace('/signup')
      }
  </script>
</html>
