<!DOCTYPE html>
<html lang="en">
<head>
	<title>Live Room</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel = "stylesheet" href="style.css"> -->
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script>
		var localname = window.localStorage.getItem('name');
		if (localname === null){
			window.location.replace('/');
		}
	</script>
	<style>
		/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
		.row.content {height: 1500px}
		
		/* Set gray background color and 100% height */
		.gray {
		  background-color: #666;
		  height: 100%;
		}
		
		/* Set black background color, white text and some padding */
		footer {
		  background-color: #555;
		  color: white;
		  padding: 15px;
		}

		#scrollable {
			background-color: #2ecc71;
			height:360px;
			width: 100%;
			text-align: justify;
			position: relative;
			overflow-y: scroll; 
		}
		
		/* On small screens, set height to 'auto' for sidenav and grid */
		@media screen and (max-width: 767px) {
		  .sidenav {
			height: auto;
			padding: 15px;
		  }
		  .row.content {height: auto;} 
		}
	  </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
		<div class="container-fluid">
			<a href="#" class="navbar-brand mr-3">Live Room</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav ml-auto">
					<a href="#" class="nav-item nav-link">Settings</a>
					<a onclick="signout()" class="nav-item nav-link">Sign Out</a>
				</div>
			</div>
		</div>    
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-8 gray justify-content-center">
				<iframe style="margin-top: 10px; margin-left: 60px;" width="720" height="480" src="https://www.youtube.com/embed/Souq7Dzgz48?autoplay=1" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-4">
				<div class="row">
					<H2>Reaction</H2>
				</div>
				<div class="row">
					<div id="scrollable"></div>
				</div>
				<div class="row">
					<form id="ask" action="">
						<input id="m" placeholder="Enter your message..." autocomplete="off" required /><button>Send</button>
					</form>
					<form id="clap" action="" >
						<button>Clap</button>
					</form>
				</div>
			</div>
		</div>
		<hr>
		<footer>
			<div class="row">
				<div class="col-md-6">
					<p>Live Room</p>
				</div>
				<div class="col-md-6 text-md-right">
					<a href="#" class="text-dark">Terms of Use</a> 
					<span class="text-muted mx-2">|</span> 
					<a href="#" class="text-dark">Privacy Policy</a>
				</div>
			</div>
		</footer>
	</div>

    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
		
    		var socket = io();

    		socket.emit ('joined', localname);
			socket.on("joined", function(msg){
				$('#scrollable').append($('<p>').text(msg));
			})
    		$('#ask').submit(function(e) {
    			e.preventDefault();            // will prevent page reloading
      			socket.emit('ask', localname, $('#m').val());
                $('#scrollable').append($('<p id="list" class="message-text">').text('You:  ' + $('#m').val()));
      			$('#m').val('');
				document.getElementById('scrollable').scrollTo(0, document.getElementById('scrollable').scrollHeight)
				return false;
    		});
			$('#clap').submit(function(e){
				e.preventDefault();
				socket.emit('clap', localname);
				$('#scrollable').append($('<p id="list" class="message-text">').text('You Clapped'));
			})
    		socket.on('received', function(localname ,msg){
				$('#scrollable').append($('<p id="text" class="message-text">').text(`${localname} : ${msg}`));
				document.getElementById('scrollable').scrollTo(0, document.getElementById('scrollable').scrollHeight)
				return false;
    		});
			socket.on('getclapped', function(msg){
				$('#scrollable').append($('<p id="text" class="message-text">').text(`${msg}`));
				document.getElementById('scrollable').scrollTo(0, document.getElementById('scrollable').scrollHeight)
			});

			function signout(){
				window.localStorage.clear();
				window.location.replace('/');
			}
    </script>
</body>
</html>
